body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    font-size: 24px;
    margin: 10px 0;
}

footer {
    background-color: #3b3b3b;
    color: white;
    text-align: center;
    padding: 10px 0;
}

form {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input[type="text"], form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}
